<a href="https://colab.research.google.com/github/PreethiEdara/Telecom_customer_churn_prediction/blob/main/churn_model_building.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing Libraries

In [17]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from imblearn.combine import SMOTEENN

#### Reading csv

In [5]:
from google.colab import files
upload=files.upload()

Saving tel_churn.csv to tel_churn.csv

In [6]:
df=pd.read_csv("tel_churn.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [7]:
df=df.drop('Unnamed: 0',axis=1)

In [8]:
x=df.drop('Churn',axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [9]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

##### Train Test Split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

#### Decision Tree Classifier

In [26]:
model_dt=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)
model_dt.fit(x_train,y_train)
y_pred=model_dt.predict(x_test)
model_dt.score(x_test,y_test)
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred, labels=[0,1]))
print(metrics.confusion_matrix(y_test,y_pred))

0.7974413646055437
              precision    recall  f1-score   support

           0       0.83      0.91      0.87      1019
           1       0.68      0.51      0.58       388

    accuracy                           0.80      1407
   macro avg       0.75      0.71      0.72      1407
weighted avg       0.79      0.80      0.79      1407

[[926  93]
 [192 196]]

###### As you can see that the accuracy is quite low, and as it's an imbalanced dataset, we shouldn't consider Accuracy as our metrics to measure the model, as Accuracy is cursed in imbalanced datasets.

###### Hence, we need to check recall, precision & f1 score for the minority class, and it's quite evident that the precision, recall & f1 score is too low for Class 1, i.e. churned customers.

###### Hence, moving ahead to call SMOTEENN (UpSampling + ENN)

In [23]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x,y)
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled, y_resampled,test_size=0.2)
model_dt_smote=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [24]:
model_dt_smote.fit(xr_train,yr_train)
yr_predict = model_dt_smote.predict(xr_test)
model_score_r = model_dt_smote.score(xr_test, yr_test)
print(model_score_r)
print(metrics.classification_report(yr_test, yr_predict))

0.93071000855432
              precision    recall  f1-score   support

           0       0.94      0.90      0.92       516
           1       0.92      0.96      0.94       653

    accuracy                           0.93      1169
   macro avg       0.93      0.93      0.93      1169
weighted avg       0.93      0.93      0.93      1169

In [27]:
print(metrics.confusion_matrix(yr_test, yr_predict))

[[462  54]
 [ 27 626]]

Accuracy from DecisionTree is 93%

#### Random Forest Classifier

In [29]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)
model_rf.fit(x_train,y_train)
y_pred=model_rf.predict(x_test)
print(model_rf.score(x_test,y_test))
print(classification_report(y_test, y_pred, labels=[0,1]))

0.7981520966595593
              precision    recall  f1-score   support

           0       0.81      0.93      0.87      1019
           1       0.72      0.44      0.55       388

    accuracy                           0.80      1407
   macro avg       0.77      0.69      0.71      1407
weighted avg       0.79      0.80      0.78      1407

In [30]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)
xr_train1,xr_test1,yr_train1,yr_test1=train_test_split(X_resampled1, y_resampled1,test_size=0.2)
model_rf_smote=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)
model_rf_smote.fit(xr_train1,yr_train1)
yr_predict1 = model_rf_smote.predict(xr_test1)
model_score_r1 = model_rf_smote.score(xr_test1, yr_test1)
print(model_score_r1)
print(metrics.classification_report(yr_test1, yr_predict1))

0.9288738357324301
              precision    recall  f1-score   support

           0       0.96      0.88      0.92       535
           1       0.91      0.97      0.94       646

    accuracy                           0.93      1181
   macro avg       0.93      0.92      0.93      1181
weighted avg       0.93      0.93      0.93      1181

In [31]:
print(metrics.confusion_matrix(yr_test1, yr_predict1))

[[470  65]
 [ 19 627]]

Accuracy: 92.8%

**Naive Bayes**

In [45]:
model_nb = GaussianNB()
model_nb.fit(x_train, y_train)
y_pred = model_nb.predict(x_test)
print(model_nb.score(x_test,y_test))
print(classification_report(y_test, y_pred, labels=[0,1]))
cm = confusion_matrix(y_test, y_pred)
print(cm)

0.7221037668798863
              precision    recall  f1-score   support

           0       0.93      0.67      0.78      1019
           1       0.50      0.86      0.63       388

    accuracy                           0.72      1407
   macro avg       0.71      0.77      0.70      1407
weighted avg       0.81      0.72      0.74      1407

[[682 337]
 [ 54 334]]

In [46]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)
xn_train1,xn_test1,yn_train1,yn_test1=train_test_split(X_resampled1, y_resampled1,test_size=0.2)
model_nb_smote=GaussianNB()
model_nb_smote.fit(xn_train1,yn_train1)
yn_predict1 = model_nb_smote.predict(xn_test1)
model_score_r1 = model_nb_smote.score(xn_test1, yn_test1)
print(model_score_r1)
print(metrics.classification_report(yn_test1, yn_predict1))
print(metrics.confusion_matrix(yn_test1, yn_predict1))

0.9079391891891891
              precision    recall  f1-score   support

           0       0.91      0.89      0.90       551
           1       0.91      0.92      0.91       633

    accuracy                           0.91      1184
   macro avg       0.91      0.91      0.91      1184
weighted avg       0.91      0.91      0.91      1184

[[490  61]
 [ 48 585]]

Accuracy: 90.7%

**Logistic Regression**

In [47]:
model_lr = LogisticRegression(random_state=0,max_iter=200)
model_lr.fit(x_train, y_train)
y_pred = model_lr.predict(x_test)
print(model_lr.score(x_test,y_test))
print(classification_report(y_test, y_pred, labels=[0,1]))
cm = confusion_matrix(y_test, y_pred)
print(cm)

0.8116560056858564
              precision    recall  f1-score   support

           0       0.83      0.93      0.88      1019
           1       0.73      0.50      0.59       388

    accuracy                           0.81      1407
   macro avg       0.78      0.71      0.74      1407
weighted avg       0.80      0.81      0.80      1407

[[949  70]
 [195 193]]

In [49]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)
xl_train1,xl_test1,yl_train1,yl_test1=train_test_split(X_resampled1, y_resampled1,test_size=0.2)
model_lr_smote=LogisticRegression(random_state=0,max_iter=800)
model_lr_smote.fit(xl_train1,yl_train1)
yl_predict1 = model_lr_smote.predict(xl_test1)
model_score_r1 = model_lr_smote.score(xl_test1, yl_test1)
print(model_score_r1)
print(metrics.classification_report(yl_test1, yl_predict1))
print(metrics.confusion_matrix(yl_test1, yl_predict1))

0.9406276505513147
              precision    recall  f1-score   support

           0       0.93      0.94      0.93       522
           1       0.95      0.94      0.95       657

    accuracy                           0.94      1179
   macro avg       0.94      0.94      0.94      1179
weighted avg       0.94      0.94      0.94      1179

[[491  31]
 [ 39 618]]

Accuracy: 94%

**K Neighbors**

In [50]:
model_kn = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
model_kn.fit(x_train, y_train)
y_pred = model_kn.predict(x_test)
print(model_rf.score(x_test,y_test))
print(classification_report(y_test, y_pred, labels=[0,1]))
cm = confusion_matrix(y_test, y_pred)
print(cm)

0.7981520966595593
              precision    recall  f1-score   support

           0       0.80      0.89      0.84      1019
           1       0.59      0.43      0.50       388

    accuracy                           0.76      1407
   macro avg       0.70      0.66      0.67      1407
weighted avg       0.74      0.76      0.75      1407

[[903 116]
 [221 167]]

In [51]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)
xk_train1,xk_test1,yk_train1,yk_test1=train_test_split(X_resampled1, y_resampled1,test_size=0.2)
model_kn_smote=KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
model_kn_smote.fit(xk_train1,yk_train1)
yk_predict1 = model_kn_smote.predict(xk_test1)
model_score_r1 = model_kn_smote.score(xk_test1, yk_test1)
print(model_score_r1)
print(metrics.classification_report(yk_test1, yk_predict1))
print(metrics.confusion_matrix(yk_test1, yk_predict1))

0.9587628865979382
              precision    recall  f1-score   support

           0       0.96      0.96      0.96       534
           1       0.96      0.96      0.96       630

    accuracy                           0.96      1164
   macro avg       0.96      0.96      0.96      1164
weighted avg       0.96      0.96      0.96      1164

[[510  24]
 [ 24 606]]

Accuracy: 95.8%

**KNEIGHBORS CLASSIFIER with smoteenn gives us the best accuracy of 95% out of all the models**

#### Pickling the model

In [52]:
import pickle

In [53]:
filename = 'model.sav'

In [58]:
pickle.dump(model_kn_smote, open(filename, 'wb'))

In [59]:
load_model = pickle.load(open(filename, 'rb'))

In [61]:
model_score_r1 = load_model.score(xk_test1, yk_test1)

In [62]:
model_score_r1

0.9587628865979382

##### Our final model i.e. KN Classifier with SMOTEENN, is now ready and dumped in model.sav, which we will use and prepare API's so that we can access our model from UI.